.wrapper {
	width: 300px;
	background-color: white;
	height: 100vh;
	padding: 30px;

	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
  position: fixed;
  top: 0;
  right: 0;
}
