.wrapper {
  margin-top: 25px;
	padding: 20px 30px;
	border-radius: 30px;
	background-color: white;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.title {
	font-size: 18px;
	font-weight: 600;
}
