.wrapper {
	height: 100%;
	padding: 20px;
	border-radius: 30px;

	background-color: #8624db;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	color: white;
}

.title {
	font-size: 18px;
	font-weight: 600;
}

.value {
	font-size: 20px;
	font-weight: 600;
}

.chart {
	width: 100%;
}
