.wrapper {
	margin-top: 30px;
	padding-bottom: 10px;
	border-bottom: 1px solid #e0e0e0;
}

.title {
	font-size: 18px;
	font-weight: 700;
	margin-right: 30px;
}

.ratingTotal {
	font-weight: 500;
	margin-left: 10px;
}
