.wrapper {
	margin: 50px 0;
	width: 700px;
}

.description {
	&_title {
		margin-top: 50px;
		font-size: 20px;
		font-weight: 600;
	}

	&_content {
		margin-top: 10px;
		height: 400px;
		overflow: hidden;
		position: relative;

		&_bottom {
			background: linear-gradient(
				to bottom,
				rgba(255 255 255/0),
				rgba(255 255 255/62.5),
				rgba(255 255 255/1)
			);
			bottom: 0;
			height: 105px;
			left: 0;
			position: absolute;
			width: 100%;
		}
	}

	&_btn {
		position: relative;
		z-index: 99;
		bottom: 45px;

		width: 300px !important;
		font-size: 14px !important;
		color: #288ad6 !important;
		border-color: #288ad6 !important;
	}
}
