.wrapper {
	min-height: 100vh;
	background-color: #f7fafc;
}

.title {
	font-size: 30px;
	font-weight: 700;

	&_sub {
		font-size: 16px;
		opacity: 0.8;
	}
}

.form {
	background-color: white;
	margin-top: 30px;
	padding: 30px;
	border-radius: 5px;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 12px;

	&_input {
		width: 350px !important;

		&_password {
			&_wrapper {
				position: relative;
			}

			&_icon {
				position: absolute !important;
				z-index: 99;
				right: 0;
				top: 32px;

				padding: 0 !important;
				font-size: 16px !important;
			}
		}
	}

	&_forgotPassword {
		display: flex;
		justify-content: flex-end;

		margin-top: 10px;
		color: #187ecc !important;
		font-size: 15px;
		font-weight: 600;
	}

	&_loginBtn {
		margin-top: 20px;
		width: 350px !important;

		color: white !important;
		background-color: #288ad6 !important;

		&:hover {
			background-color: #187ecc !important;
		}
	}

	&_register {
		margin-top: 30px;
		font-size: 16px;
		opacity: 0.9;
		text-align: center;

		&_link {
			margin-left: 10px;
			color: #288ad6 !important;
		}
	}
}
